<style> .image-slightpay-modal { margin: 0 !important; } .header-slightpay-modal { padding: 0 !important; } .popup-slightpay-modal { padding: 0 !important; } </style>
<div id='container-text-slightpay' style="display: flex;flex-wrap:wrap;align-items:center;justify-content: flex-end;margin-bottom:15px;">
  o págalo en <div style="color: #1a4bcd;margin: 0 4px;">4 pagos</div> de <b style="display: flex;margin: 0 5px;"><div id="cuotas-slightpay"></div></b> con <img src="https://slightpay.s3.us-west-2.amazonaws.com/logo-slightpay-svg.svg" style="width: 90px;margin: 0 8px;"/><div style="color: #1a4bcd; cursor: pointer; text-decoration: underline #1a4bcd" onclick=alertSlightpay()>Conoce más.</div>
</div>
<script>
  function alertSlightpay() {
    Swal.fire({
      title: '',
      text: '',
      imageUrl: 'https://slightpay.s3-us-west-2.amazonaws.com/slightpay_branding.png',
      imageAlt: 'Custom image',
      showConfirmButton: false,
      showCloseButton: true,
      customClass: {
        image: 'image-slightpay-modal',
        header: 'header-slightpay-modal',
        popup: 'popup-slightpay-modal',
      }
    })
  }

  let pesosMX = Intl.NumberFormat("es-MX", {
    style: "currency",
    currency: "MXN",
  });
  
  let calculateAmountPartitions = async () => {
    let { min, max } = await getAmountsAllowed()
    let amount = Number('1200'.replace(/[^0-9.]/g, ''))

    if(amount >= min && amount <= max) {
      document.getElementById("cuotas-slightpay").innerText = pesosMX.format((amount/4).toFixed(2))
    } else {
      document.getElementById('container-text-slightpay').innerHTML = ''
    }
  }

  let getAmountsAllowed = async () => {
    let result = await fetch('https://api.slightpay.com/purchases/amounts')
    result = await result.json()
    return result
  }

  calculateAmountPartitions()
</script>

<!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script> -->